pre .comment {
  color: #8192b9; }

pre .constant {
  color: #e26c6a; }

pre .storage {
  color: #e244a0; }

pre .string, pre .comment.docstring {
  color: #10cfdc; }

pre .string.regexp, pre .support.tag.script, pre .support.tag.style, .support.tag, .support.css-value {
  color: #8192b9; }

pre .support.css-property {
  color: var(--var-color); }

pre .keyword.operator {
  color: var(--subtle-text-color); }

pre .keyword.unit {
  color: #e26c6a; }

pre .support.tag-name {
  color: #08907e; }

pre .support.attribute {
  color: #67e0ae; }

pre .keyword, pre .selector {
  color: Turquoise; }

pre .inherited-class {
  font-style: italic; }

pre .entity {
  color: #67e0ae; }

pre .support {
  color: #8192b9; }

pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #FF6400; }

pre .function.call {
  color: #9375ff; }

[data-language="unknown"] {
  color: var(--text-color); }

[data-language="c"] .function.call, .lang-c .function.call, .language-c .function.call {
  color: #8192b9; }
