.button-group {
  display: flex;
  justify-content: flex-end;

  .button + .button {
    margin-left: 1rem;
  }
}

.button {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;

  &-big {
    height: 50px;
    padding: 0 2rem;
    line-height: 50px;
  }

  &-small {
    height: 35px;
    padding: 0 1rem;
    font-size: 0.85rem;
    line-height: 35px;
  }

  &-primary {
    background-color: $blue;
    color: white;
  }

  &-primary-ghost {
    border: 2px solid $blue;
    color: $blue;
  }

  &-confirm {
    background-color: $green;
    color: white;
  }

  &-warning {
    background-color: $red;
    color: white;
  }

  &-secondary {
    border: 2px solid $slate;
    color: white;

    &.button-small {
      line-height: 31px;
    }
    &.button-big {
      line-height: 46px;
    }
  }
}
