h1,h2,h3,h4,h5 {
  font-weight: 700;
  margin: 1.25em 0 0.5em 0;
  line-height: 150%;
}

h1 {
  font-size: 2.441rem;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

p {
  margin-top: 1rem;
  line-height: 140%;

  &.note {
    color: $darkgray;
    font-size: 0.85rem;
  }

  &.tooltip {
    color: $black;
    font-size: 1rem;
    margin-top: 0;
  }

  &.indent {
    margin-left: 2rem;
  }
}

a {
  color: $blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

.tooltip-underline {
  display: inline-block;
  color: $blue;
  border-bottom: 1px dotted $blue;
  cursor: help;
}

.big-label {
  margin-top: 0;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $darkgray;
}

.mini-label {
  margin-top: 0;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $darkgray;
}
//
// .tag {
//   font-size: 0.7rem;
//   font-weight: 700;
//   text-transform: uppercase;
//   padding: 0.25rem 0.5rem;
//   border-radius: 1rem;
//
//   &.quoted {
//     color: white;
//     background-color: $green;
//   }
//   &.referred {
//     color: $black;
//     background-color: yellow;
//   }
//   &.declined {
//     color: white;
//     background-color: $red;
//   }
//   &.bound {
//     color: white;
//     background-color: $green;
//   }
// }
