$black: #171727;
$slate: #282f4e;
$darkgray: #8192b9;
$gray: #bcc6d1;
$lightgray: #EFF4F8;

$blue: #4579FF;
$lightblue: #E5ECFF;
$green: #50E3C2;
$red: #FE4959;
$lightpurple: #F1E2FF;
$purple: #A845FF;

$field-border-color: $slate;

$base-spacing-unit: 30px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-desktop-small: 1280px;
$breakpoint-desktop: 1440px;
$breakpoint-desktop-large: 1660px;
