@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Stoke');


// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face("Domaine", '../assets/fonts/Domaine/DomaineDisplayNarrowWeb-Medium');

* {box-sizing: border-box;}

:root {
  --display-font: 'Domaine';
  --bg-color: #DCE5EB;
  --main-color: #00AEB9;
  --main-color-darker: #00AEB9;
  --text-color: #1B1F4A;
	--text-blue: #A4D8FF;
  --secondary-text-color: #465790;
}

html,
body {
  // height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  line-height: 140%;
  color: var(--text-color);
  background-color: var(--bg-color);
  text-align: center;
}

.wrapper {
  @media (max-width: 580px) {
    padding: 0 10px;
  }
}

h1 {
  margin-bottom: 3rem;
  font-size: 3.18rem;
  line-height: 140%;
  font-weight: 500;
  font-family: var(--display-font);

  @media (max-width: 580px) {
    font-size: 2.1rem;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 140%;
  font-weight: 500;
  font-family: var(--display-font);

  @media (max-width: 580px) {
    font-size: 1.8rem;
  }
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
	font-family: var(--display-font);
}

p {
  color: var(--secondary-text-color);
  max-width: 570px;
  line-height: 150%;
  margin: 0 auto;

	&.subtitle {
		font-size: 1.18rem;
	}
}

section {
  margin: 0 auto;
  padding: 150px calc((100% - 1280px) / 2);

  @media (max-width: 580px) {
    padding: 5rem calc((100% - 1024px) / 2);
  }
}

.top-logo {
  margin-top: 5vw;
	margin-bottom: 3vw;
  padding-bottom: 0px;

	@media (max-width: 580px) {
		margin-top: 150px;
    margin-bottom: 50px;
  }

  img {
    max-width: 980px;
    width: 80vw;
  }
}

.introduction {
	padding-bottom: 50px;
}

.full-break {
  background: url('../assets/images/ferns_2.png');
  background-size: cover;
	padding-bottom: 200px;
	color: var(--text-color);

  h2 span {
    color: var(--main-color);
  }
}

.features {
  display: flex;
  justify-content: space-between;
	background-color: white;
	// flex-direction: column;

  .feature {
    width: calc(100% - 3rem);
    max-width: 350px;
    margin: 50px auto 0;

		@media (max-width: 580px) {
	    margin: 50px auto;
	  }
  }

  .icon {
    display: inline-block;
    padding: 1rem;
    max-height: 50px;
    margin-bottom: 3rem;
    border: 1px solid var(--main-color);
  }

  .icon img {
    height: 1rem;
  }

  @media (max-width: 580px) {
    flex-direction: column;

    .feature + .feature {
      margin-top: 3rem;
    }
  }
}

.action-group {
  margin-top: 5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;

  &--main {
    background-color: var(--main-color-darker);
    font-weight: bold;
		color: white;
  }

  &--secondary {
    display: block;
    margin-top: 1rem;
    color: var(--main-color);
  }
}

.topleft {
  position: absolute;
  top: 2rem;
  left: 2rem;

  @media (max-width: 580px) {
    top: 0.5rem;
    left: 0.5rem;
  }
}

.sign-off {
	background-color: white;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.block {
  margin-bottom: 3rem;
}

footer {
  padding: 3rem 0;
	font-size: 0.8rem;
}
